.modal {
  position: absolute;
  margin: auto;
  background-color: white;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  max-width: 28rem;
  min-width: 28rem;
  overflow: visible;
  max-height: max-content;
  min-height: max-content;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}
