.success {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.success img {
  max-height: 14rem;
  max-width: 14rem;
}
.success button {
  outline: none;
  border: none;
  background-color: green;
  width: 20%;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

.success button:hover {
  cursor: pointer;
  background-color: rgb(6, 92, 6);
}
